<a href="https://colab.research.google.com/github/HrudaiKoda/Web-Crawling-Players/blob/main/full_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
url = "https://www.espncricinfo.com/ci/content/player/index.html?country=6"

In [2]:
from bs4 import BeautifulSoup as bf
import requests
import pandas as pd

In [3]:
req = requests.get(url)

In [4]:
soup = bf(req.text,"html.parser")

In [5]:
jo = soup.find_all('td')

In [12]:
#Fetch total urls of players belonging to a country
u = list()
for job_elem in jo:
    u.append(job_elem.find('a'))
    #result.append(job_elem.text)
l = set(u)
l = list(l)

In [7]:
#Get relevant information related to a player using each player's url
def load(req,lol,ind):
    lab = list()
    result = list()
    soup = bf(req.text,"html.parser")
    print(soup.title)
    jo = soup.find_all('h5',class_='player-card-description gray-900')
    c = 0
    for job_elem in jo:
        result.append(job_elem.text)
        c+=1
    jo = soup.find_all('p',class_="text-uppercase gray-700 mb-0 pb-0-5 player-card-heading")
    for job_elem in jo:
        lab.append(job_elem.text)
    ##########################################   
    jo = soup.find('div',class_="player-card__details")
    l = list()
    for job_elem in jo:
        l.append(job_elem.text)
        c+=1
    p = l[1].split("|")
    l.pop()
    l.pop()
    l = l+p
    result = result + l
    l_label = ["Player Name" , "Nationality ", "player-type"]
    lab = lab + l_label
    ##########################
    jo = soup.body.findAll('thead')
    kl = jo[0].find_all('th')
    head = 0
    hd_el = list()
    hd_l =list()
    for job_elem in kl:
        hd_el.append(job_elem.text)
        head+=1
    print('Head count',head)
    
    jo = soup.body.findAll('tbody')
    kl = jo[0].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd_l.append(job_elem.text)
        
        t+=1
    total_label1 = list()
    for i in range(1,len(hd_el)):
        for j in range(len(hd_l)):
            total_label1.append('Batting' + hd_el[i] +" "+hd_l[j])
    lab = lab + total_label1
    ####################################
    jo = soup.body.findAll('thead')
    kl = jo[1].find_all('th')
    head = 0
    hd_el = list()
    hd_l =list()
    for job_elem in kl:
        hd_el.append(job_elem.text)
        head+=1
    print('Head count',head)
    
    jo = soup.body.findAll('tbody')
    kl = jo[1].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd_l.append(job_elem.text)
        
        t+=1
    total_label1 = list()
    for i in range(1,len(hd_el)):
        for j in range(len(hd_l)):
            total_label1.append('Bowling' + hd_el[i] +" "+hd_l[j])
    lab = lab + total_label1
    print('label--',len(lab))
    print('result--',len(result))
    o = dict()
    for i in range(len(lab)):
        o[lab[i]] = result[i]
    #print(lab)
    lo = dict(zip(lab,result))
    lp = pd.DataFrame(lo,index=[ind])
    lol.append(lp)
    print('count',c)

In [8]:
#Get individual player's "Records" information.
import re
def extra(l):
    soup = bf(req.text,"html.parser")
    #print(soup.title)
    jo = soup.find_all('a',class_='more_content-footer')
    for i in range(len(jo)):
        p = jo[i]['href']
        if('t20-records' in p):
            print(l + p)
            u = l+p
            re = requests.get(u)
            so = bf(re.text,"html.parser")
            res1 = so.find_all('div',class_='col-14 d-flex flex-row')
            res = so.find_all('div',class_='row bg-gray-100 class-record-row-p d-flex align-items-center')
            #print(res1)
            for i in range(len(res1)):
                pre = res1[i].find_all('h1')
                loi = res1[i].find_all('p',class_='record-class-title m-0')
                #print(loi)    
                for j in range(len(pre)):
                    print(pre[j].text)
                    print(loi[j].text)
            """
            for i in range(len(res)):
                la = res[i].find_all('span')
                #print(la)
                for j in range(len(la)):
                    oi = la[j].text
                    print(oi,end=" ")
                print()
            """
            #print(la)
    print("-------------------------------------------")
    #print(l + jo['href'])

In [9]:
lol = list()
for i in range(len(l)):
    u = "https://www.espncricinfo.com"
    rl = l[i]["href"]
    link = u+rl
    #print(link)
    req = requests.get(link)
    print('player-',i,end=" ")
    ind = i-1
    extra(u)
    #load(req,lol,ind)

player- 0 https://www.espncricinfo.com/player/manish-pandey-290630/tests-odi-t20-records
6th
Highest career batting average (44.31)
5th
Highest partnership for the fifth wicket (98*)
-------------------------------------------
player- 1 -------------------------------------------
player- 2 https://www.espncricinfo.com/player/ravichandran-ashwin-26421/tests-odi-t20-records
3rd
Most player-of-the-series awards (8)
6th
Most ten-wickets-in-a-match in a career (7)
1st
Fastest to 350 wickets (66)

A hundred and five wickets in an innings
9th
Most runs in an innings (by batting position) (31*)
9th
Outstanding bowling analyses in an innings (4/8)
3rd
Bowler/fielder combinations (10)
10th
Most five-wickets-in-an-innings in a career (30)
-------------------------------------------
player- 3 -------------------------------------------
player- 4 https://www.espncricinfo.com/player/murali-vijay-237095/tests-odi-t20-records
9th
Worst career bowling average (without qualification) (198.00)
6th
Highest partnership for the second wicket (370)
-------------------------------------------
player- 5 -------------------------------------------
player- 6 -------------------------------------------
player- 7 https://www.espncricinfo.com/player/prithvi-shaw-1070168/tests-odi-t20-records

Hundred on debut (134)
7th
Youngest player to score a hundred (18y 329d)
-------------------------------------------
player- 8 https://www.espncricinfo.com/player/ravindra-jadeja-234675/tests-odi-t20-records

1000 runs and 100 wickets
9th
Most runs in a career without a hundred (2411)

1000 runs and 100 wickets

1000 runs, 50 wickets and 50 catches
10th
Worst career strike rate (24.9)
10th
Most maidens in career (4)
3rd
Most wickets taken caught and bowled (5)
3rd
Most catches by a substitute in an innings (2)
10th
Most wickets taken stumped (35)
-------------------------------------------
player- 9 https://www.espncricinfo.com/player/rishabh-pant-931581/tests-odi-t20-records
1st
Most dismissals in a match (11)
1st
Most catches in a match (11)

300 runs and 15 wicketkeeping dismissals in a series
-------------------------------------------
player- 10 https://www.espncricinfo.com/player/ajinkya-rahane-277916/tests-odi-t20-records

Hundred in each innings of a match
1st
Most catches in a match (8)
-------------------------------------------
player- 11 https://www.espncricinfo.com/player/rohit-sharma-34102/tests-odi-t20-records

Hundred on debut (177)

Hundred in each innings of a match
4th
Highest partnership for the seventh wicket (280)
1st
Most runs in an innings (by batting position) (264)
1st
Most hundreds in a series (5)
1st
Dismissed for 99 (and 199, 299 etc) (99)
1st
Most runs from fours and sixes in an innings (186)
3rd
Highest percentage of runs in a completed innings (65.34)
3rd
Fastest to 9000 runs (217)

5000 runs and 50 fielding dismissals
2nd
Most matches in career (111)
3rd
Most runs in career (2864)
2nd
Most fifties in career (26)
2nd
Most sixes in career (133)
8th
Fastest to 2000 runs (77)
4th
Worst career bowling average (without qualification) (113.00)
7th
Highest partnership for the first wicket (165)
5th
Most hundreds in a calendar year (10)
3rd
Most sixes in career (436)
-------------------------------------------
player- 12 -------------------------------------------
player- 13 https://www.espncricinfo.com/player/mohammed-shami-481896/tests-odi-t20-records
10th
Best career strike rate (27.3)
1st
Most consecutive four-wickets-in-an-innings (3)
7th
Fastest to 100 wickets (56)
-------------------------------------------
player- 14 https://www.espncricinfo.com/player/wriddhiman-saha-279810/tests-odi-t20-records
4th
Most dismissals in a match (10)
4th
Most catches in a match (10)

Two unbeaten fifties in a match
1st
Most catches by a substitute in a match (4)
-------------------------------------------
player- 15 -------------------------------------------
player- 16 -------------------------------------------
player- 17 -------------------------------------------
player- 18 -------------------------------------------
player- 19 -------------------------------------------
player- 20 https://www.espncricinfo.com/player/jasprit-bumrah-625383/tests-odi-t20-records
3rd
Outstanding bowling analyses in an innings (5/7)
6th
Most consecutive ducks (3)
9th
Fastest to 100 wickets (57)
2nd
Most wickets in a calendar year (28)
1st
Most maidens in an innings (2)
5th
Most wickets taken bowled (24)
-------------------------------------------
player- 21 -------------------------------------------
player- 22 -------------------------------------------
player- 23 -------------------------------------------
player- 24 -------------------------------------------
player- 25 https://www.espncricinfo.com/player/virat-kohli-253802/tests-odi-t20-records
6th
Most matches as captain (60)
7th
Most runs in a match on the losing side (256)

Hundred in each innings of a match

Hundred and a ninety in a match

Hundred and a duck in a match
5th
Fastest to 7000 runs (138)

5000 runs and 50 fielding dismissals
7th
Highest partnership for the eighth wicket (241)
3rd
Most player-of-the-series awards (9)
4th
Most runs in an series by a captain (558)
2nd
Highest career batting average (59.07)
1st
Most hundreds against one team (9)
1st
Dismissed for 99 (and 199, 299 etc) (99)
4th
Most fifties in career (105)
6th
Most fours in career (1140)
1st
Fastest to 12000 runs (242)
7th
Most catches in career (132)

5000 runs and 50 fielding dismissals
6th
Highest partnership for the fifth wicket (200)
1st
Most player-of-the-series awards (7)
7th
Most matches as captain (45)
1st
Most runs in career (3159)
1st
Highest career batting average (52.65)
1st
Most fifties in career (28)
3rd
Most innings before first duck (47)
1st
Most fours in career (285)
2nd
Fastest to 2000 runs (56)
9th
Most catches in career (42)
6th
Highest partnership for the third wicket (134)
2nd
Most player-of-the-series awards (19)
8th
Most matches as captain (200)
3rd
Most runs in a calendar year (2818)
2nd
Most hundreds in a calendar year (11)
7th
Most fifties in career (185)
8th
Most consecutive innings without a duck (104)
-------------------------------------------
player- 26 https://www.espncricinfo.com/player/bhuvneshwar-kumar-326016/tests-odi-t20-records
8th
Outstanding bowling analyses in an innings (4/8)
4th
Most runs conceded in an innings (106)
1st
Most maidens in an innings (2)
-------------------------------------------
player- 27 https://www.espncricinfo.com/player/shikhar-dhawan-28235/tests-odi-t20-records

Hundred on debut (187)

Hundred and a duck in a match
9th
Hundred in hundredth match (109)
8th
Most nineties in career (6)
5th
Fastest to 3000 runs (72)
2nd
Most catches in an innings (4)

5000 runs and 50 fielding dismissals
4th
Most runs in a calendar year (689)
7th
Fewest ducks in career (63)
8th
Highest partnership for the third wicket (130)
6th
Hundreds in consecutive innings (3)
-------------------------------------------
player- 28 https://www.espncricinfo.com/player/cheteshwar-pujara-32540/tests-odi-t20-records

Hundred and a duck in a match

Batting on each day of a five day match

5000 runs and 50 fielding dismissals
-------------------------------------------
player- 29 https://www.espncricinfo.com/player/dinesh-karthik-30045/tests-odi-t20-records
8th
Most consecutive matches missed for a team between appearances (87)
2nd
Most byes conceded in an innings (35)
4th
Highest strike rate in an innings (362.50)
-------------------------------------------
player- 30 -------------------------------------------
player- 31 -------------------------------------------
player- 32 -------------------------------------------
player- 33 -------------------------------------------
player- 34 -------------------------------------------
player- 35 -------------------------------------------
player- 36 https://www.espncricinfo.com/player/umesh-yadav-376116/tests-odi-t20-records
1st
Highest strike rate in an innings (310.00)
9th
Worst career economy rate (6.01)
8th
Most consecutive matches missed for a team between appearances (65)
-------------------------------------------
player- 37 -------------------------------------------
player- 38 https://www.espncricinfo.com/player/parthiv-patel-32242/tests-odi-t20-records
8th
Most consecutive matches missed for a team between appearances (191)
7th
Most stumpings in a series (5)
-------------------------------------------
player- 39 https://www.espncricinfo.com/player/ms-dhoni-28081/tests-odi-t20-records
5th
Most dismissals in an innings (6)
1st
Captains who have kept wicket (60)
5th
Most catches in an innings (6)
6th
Most matches as captain (60)
7th
Most catches in career (256)
3rd
Most stumpings in career (38)
3rd
Most runs in an innings by a wicketkeeper (224)

300 runs and 15 wicketkeeping dismissals in a series
1st
Most dismissals in an innings (6)
6th
Most player-of-the-series awards (7)
1st
Captains who have kept wicket (200)
4th
Most catches in career (321)
7th
Most consecutive matches as captain of a team (69)
1st
Most stumpings in an innings (3)
1st
Most runs in an innings by a wicketkeeper (183*)
9th
Highest career batting average (50.57)
8th
Most nineties in career (6)
5th
Most sixes in career (229)
6th
Fastest to 10000 runs (273)

A hundred and four dismissals in an innings
6th
Highest partnership for the ninth wicket (101)
1st
Most dismissals in an innings (5)
8th
Most matches in career (98)
1st
Most catches in an innings (5)
1st
Captains who have kept wicket (72)
3rd
Most catches in an innings (4)
7th
Most consecutive matches as captain of a team (69)
1st
Most stumpings in career (34)
1st
Most consecutive innings without a duck (84*)
3rd
Most dismissals in career (829)
6th
Most matches in career (538)
1st
Most matches as captain (332)
3rd
Most catches in career (634)
1st
Most stumpings in career (195)
8th
Most nineties in career (11)
5th
Most sixes in career (359)
-------------------------------------------
player- 40 -------------------------------------------
player- 41 -------------------------------------------
player- 42 -------------------------------------------
player- 43 https://www.espncricinfo.com/player/kl-rahul-422108/tests-odi-t20-records
1st
Fifties in consecutive innings (7)
2nd
Most catches in a series (14)

Hundred on debut (100*)
2nd
Most runs in an innings (by batting position) (110*)
7th
Highest career batting average (39.92)
3rd
Fifties in consecutive innings (3)
4th
Fastest to 1000 runs (29)
2nd
Fifties in consecutive innings (7)
-------------------------------------------
player- 44 https://www.espncricinfo.com/player/yuzvendra-chahal-430246/tests-odi-t20-records
8th
Worst economy rate in an innings (12.36)
4th
Outstanding bowling analyses in an innings (6/25)
1st
Most consecutive four-wickets-in-an-innings (2)
5th
Most runs conceded in an innings (64)
6th
Most wickets taken stumped (9)
5th
Fastest to 50 wickets (34)
-------------------------------------------
player- 45 https://www.espncricinfo.com/player/kedar-jadhav-290716/tests-odi-t20-records
10th
Most runs in an innings (by batting position) (120)
1st
Outstanding bowling analyses in an innings (1/0)
-------------------------------------------

In [10]:
a = lol[0]
b = lol[1]

IndexError: ignored

In [ ]:
a

,Full Name,Born,Age,Batting Style,Bowling Style,Playing Role,Player Name,Nationality,player-type,BattingMat Test,BattingMat ODI,BattingMat FC,BattingMat List A,BattingMat T20,BattingInns Test,BattingInns ODI,BattingInns FC,BattingInns List A,BattingInns T20,BattingNO Test,BattingNO ODI,BattingNO FC,BattingNO List A,BattingNO T20,BattingRuns Test,BattingRuns ODI,BattingRuns FC,BattingRuns List A,BattingRuns T20,BattingHS Test,BattingHS ODI,BattingHS FC,BattingHS List A,BattingHS T20,BattingAve Test,BattingAve ODI,BattingAve FC,BattingAve List A,BattingAve T20,BattingBF Test,BattingBF ODI,BattingBF FC,BattingBF List A,BattingBF T20,BattingSR Test,BattingSR ODI,BattingSR FC,BattingSR List A,BattingSR T20,Batting100s Test,Batting100s ODI,Batting100s FC,Batting100s List A,Batting100s T20,Batting50s Test,Batting50s ODI,Batting50s FC,Batting50s List A,Batting50s T20,Batting4s Test,Batting4s ODI,Batting4s FC,Batting4s List A,Batting4s T20,Batting6s Test,Batting6s ODI,Batting6s FC,Batting6s List A,Batting6s T20,BattingCt Test,BattingCt ODI,BattingCt FC,BattingCt List A,BattingCt T20,BattingSt Test,BattingSt ODI,BattingSt FC,BattingSt List A,BattingSt T20,BowlingMat Test,BowlingMat ODI,BowlingMat FC,BowlingMat List A,BowlingMat T20,BowlingInns Test,BowlingInns ODI,BowlingInns FC,BowlingInns List A,BowlingInns T20,BowlingBalls Test,BowlingBalls ODI,BowlingBalls FC,BowlingBalls List A,BowlingBalls T20,BowlingRuns Test,BowlingRuns ODI,BowlingRuns FC,BowlingRuns List A,BowlingRuns T20,BowlingWkts Test,BowlingWkts ODI,BowlingWkts FC,BowlingWkts List A,BowlingWkts T20,BowlingBBI Test,BowlingBBI ODI,BowlingBBI FC,BowlingBBI List A,BowlingBBI T20,BowlingBBM Test,BowlingBBM ODI,BowlingBBM FC,BowlingBBM List A,BowlingBBM T20,BowlingAve Test,BowlingAve ODI,BowlingAve FC,BowlingAve List A,BowlingAve T20,BowlingEcon Test,BowlingEcon ODI,BowlingEcon FC,BowlingEcon List A,BowlingEcon T20,BowlingSR Test,BowlingSR ODI,BowlingSR FC,BowlingSR List A,BowlingSR T20,Bowling4w Test,Bowling4w ODI,Bowling4w FC,Bowling4w List A,Bowling4w T20,Bowling5w Test,Bowling5w ODI,Bowling5w FC,Bowling5w List A,Bowling5w T20,Bowling10w Test,Bowling10w ODI,Bowling10w FC,Bowling10w List A,Bowling10w T20
-1,Prithvi Pankaj Shaw,"November 09, 1999, Thane, Maharashtra",21y 193d,Right hand bat,Right arm offbreak,Opening batter,Prithvi Shaw,India,Opening batter,5,9,1,339,134,42.37,394,86.04,1,2,48,2,2,0,3,3,0,84,40,28.00,82,102.43,0,0,12,2,0,0,25,46,2,2263,202,51.43,2795,80.96,9,10,314,22,15,0,41,41,3,2211,227*,58.18,1769,124.98,8,8,297,57,10,0,59,59,0,1508,99,25.55,1004,150.19,0,13,169,66,13,0,5,-,-,-,-,-,-,-,-,-,-,-,-,3,-,-,-,-,-,-,-,-,-,-,-,-,25,4,36,44,0,-,-,-,7.33,-,0,0,0,41,-,-,-,-,-,-,-,-,-,-,-,-,59,-,-,-,-,-,-,-,-,-,-,-,-

In [ ]:
b

,Full Name,Born,Age,Batting Style,Fielding Position,Playing Role,Player Name,Nationality,player-type,BattingMat Test,BattingMat ODI,BattingMat T20I,BattingMat FC,BattingMat List A,BattingMat T20,BattingInns Test,BattingInns ODI,BattingInns T20I,BattingInns FC,BattingInns List A,BattingInns T20,BattingNO Test,BattingNO ODI,BattingNO T20I,BattingNO FC,BattingNO List A,BattingNO T20,BattingRuns Test,BattingRuns ODI,BattingRuns T20I,BattingRuns FC,BattingRuns List A,BattingRuns T20,BattingHS Test,BattingHS ODI,BattingHS T20I,BattingHS FC,BattingHS List A,BattingHS T20,BattingAve Test,BattingAve ODI,BattingAve T20I,BattingAve FC,BattingAve List A,BattingAve T20,BattingBF Test,BattingBF ODI,BattingBF T20I,BattingBF FC,BattingBF List A,BattingBF T20,BattingSR Test,BattingSR ODI,BattingSR T20I,BattingSR FC,BattingSR List A,BattingSR T20,Batting100s Test,Batting100s ODI,Batting100s T20I,Batting100s FC,Batting100s List A,Batting100s T20,Batting50s Test,Batting50s ODI,Batting50s T20I,Batting50s FC,Batting50s List A,Batting50s T20,Batting4s Test,Batting4s ODI,Batting4s T20I,Batting4s FC,Batting4s List A,Batting4s T20,Batting6s Test,Batting6s ODI,Batting6s T20I,Batting6s FC,Batting6s List A,Batting6s T20,BattingCt Test,BattingCt ODI,BattingCt T20I,BattingCt FC,BattingCt List A,BattingCt T20,BattingSt Test,BattingSt ODI,BattingSt T20I,BattingSt FC,BattingSt List A,BattingSt T20,BowlingMat Test,BowlingMat ODI,BowlingMat T20I,BowlingMat FC,BowlingMat List A,BowlingMat T20,BowlingInns Test,BowlingInns ODI,BowlingInns T20I,BowlingInns FC,BowlingInns List A,BowlingInns T20,BowlingBalls Test,BowlingBalls ODI,BowlingBalls T20I,BowlingBalls FC,BowlingBalls List A,BowlingBalls T20,BowlingRuns Test,BowlingRuns ODI,BowlingRuns T20I,BowlingRuns FC,BowlingRuns List A,BowlingRuns T20,BowlingWkts Test,BowlingWkts ODI,BowlingWkts T20I,BowlingWkts FC,BowlingWkts List A,BowlingWkts T20,BowlingBBI Test,BowlingBBI ODI,BowlingBBI T20I,BowlingBBI FC,BowlingBBI List A,BowlingBBI T20,BowlingBBM Test,BowlingBBM ODI,BowlingBBM T20I,BowlingBBM FC,BowlingBBM List A,BowlingBBM T20,BowlingAve Test,BowlingAve ODI,BowlingAve T20I,BowlingAve FC,BowlingAve List A,BowlingAve T20,BowlingEcon Test,BowlingEcon ODI,BowlingEcon T20I,BowlingEcon FC,BowlingEcon List A,BowlingEcon T20,BowlingSR Test,BowlingSR ODI,BowlingSR T20I,BowlingSR FC,BowlingSR List A,BowlingSR T20,Bowling4w Test,Bowling4w ODI,Bowling4w T20I,Bowling4w FC,Bowling4w List A,Bowling4w T20,Bowling5w Test,Bowling5w ODI,Bowling5w T20I,Bowling5w FC,Bowling5w List A,Bowling5w T20,Bowling10w Test,Bowling10w ODI,Bowling10w T20I,Bowling10w FC,Bowling10w List A,Bowling10w T20
0,Kannaur Lokesh Rahul,"April 18, 1992, Bangalore, Karnataka",29y 33d,Right hand bat,Wicketkeeper,Opening batter,KL Rahul,India,Opening batter,36,60,2,2006,199,34.58,3553,56.45,5,11,237,14,46,0,38,37,6,1509,112,48.67,1690,89.28,5,9,114,36,21,2,49,45,6,1557,110*,39.92,1095,142.19,2,12,138,63,18,1,78,131,5,5802,337,46.04,10349,56.06,14,29,726,46,84,0,90,89,11,3519,131,45.11,4384,80.26,9,22,283,67,59,6,159,146,25,5173,132*,42.75,3764,137.43,4,43,451,208,73,8,36,-,-,-,-,-,-,-,-,-,-,-,-,38,-,-,-,-,-,-,-,-,-,-,-,-,49,-,-,-,-,-,-,-,-,-,-,-,-,78,9,168,83,0,-,-,-,2.96,-,0,0,0,90,3,21,42,1,1/23,1/23,42.00,12.00,21.00,0,0,0,159,-,-,-,-,-,-,-,-,-,-,-,-

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df = a.T
for i in range(1,len(lol)):
    lo = lol[i].T
    df = pd.concat([df,lo],axis=1)

In [ ]:
df5 = pd.concat([o,r,c],axis=1)

In [ ]:
df.shape

(274, 10)

In [ ]:
c =lol[2].T

In [ ]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
    ################################################3
    jo = soup.body.findAll('thead')
    kl = jo[0].find_all('th')
    head = 0
    hd_el = list()
    hd_l =list()
    for job_elem in kl:
        hd_el.append(job_elem.text)
        head+=1
    print('Head count',head)
    
    jo = soup.body.findAll('tbody')
    kl = jo[0].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd_l.append(job_elem.text)
        
        t+=1
    total_label1 = list()
    for i in range(len(hd_el)):
        for j in range(len(hd_l)):
            total_label1.append(hd_el[i] +" "+hd_l[j])
    ####################################################
    jo = soup.body.findAll('thead')
    kl = jo[1].find_all('th')
    head1 = 0
    hd_el1 = list()
    hd1_l = list()
    for job_elem in kl:
        hd_el1.append(job_elem.text)
        head1+=1
    print('Head1 count',head1)
    
    kl = jo[1].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head1 !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd1_l.append(job_elem.text)
        
        t+=1
    total_label2 = list()
    for i in range(len(hd_el1)):
        for j in range(len(hd1_l)):
            total_label2.append(hd_el1[i] +" "+hd1_l[j])
    lab = lab + total_label1 + total_label2
    print(len(lab),end="---")
    print(len(result))
    print('count',c)

IndexError: list index out of range

In [ ]:
for i in range(len(l)):
    u = "https://www.espncricinfo.com"
    rl = l[i]["href"]
    link = u+rl
    #print(link)
    req = requests.get(link)
    print('player-',i,end=" ")
    load(req)

player- 0 count 184
player- 1 count 184
player- 2 count 183
player- 3 count 156
player- 4 count 184
player- 5 count 125
player- 6 count 126
player- 7 count 183
player- 8 count 155
player- 9 count 184
player- 10 count 125
player- 11 count 182
player- 12 count 155
player- 13 count 153
player- 14 count 125
player- 15 count 126
player- 16 count 183
player- 17 count 184
player- 18 count 156
player- 19 count 125
player- 20 count 183
player- 21 count 126
player- 22 count 183
player- 23 count 184
player- 24 count 183
player- 25 count 154
player- 26 count 185
player- 27 count 184
player- 28 count 125
player- 29 count 183
player- 30 count 184
player- 31 count 183
player- 32 count 183
player- 33 count 184
player- 34 count 183
player- 35 count 185
player- 36 count 125
player- 37 count 154
player- 38 count 183
player- 39 count 184
player- 40 count 184
player- 41 count 184

In [ ]:
l[0]

In [ ]:
ls

cricket_data.csv      full_dataset.ipynb  new.ipynb           Untitled1.ipynb
cricket_data.csv.zip  l.py                player_dataset.csv  Untitled.ipynb

In [ ]:
p = pd.read_csv('cricket_data.csv')

/home/hrudai/anaconda3/envs/indic/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (9,16,20,21,22,24,25,26,27,28,29,30,31,32,45,46,59,60,73,74,87,88,90,91,92,95,96,97,98,99,100,101,102) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
p

,ID,NAME,COUNTRY,Full name,Born,Died,Current age,Major teams,Education,Height,Nickname,Playing role,Batting style,Bowling style,Other,Relation,In a nutshell,DESCRIPTION,AWARDS,BATTING_Tests_Mat,BATTING_Tests_Inns,BATTING_Tests_NO,BATTING_Tests_Runs,BATTING_Tests_HS,BATTING_Tests_Ave,BATTING_Tests_BF,BATTING_Tests_SR,BATTING_Tests_100,BATTING_Tests_50,BATTING_Tests_4s,BATTING_Tests_6s,BATTING_Tests_Ct,BATTING_Tests_St,BATTING_ODIs_Mat,BATTING_ODIs_Inns,BATTING_ODIs_NO,BATTING_ODIs_Runs,BATTING_ODIs_HS,BATTING_ODIs_Ave,BATTING_ODIs_BF,BATTING_ODIs_SR,BATTING_ODIs_100,BATTING_ODIs_50,BATTING_ODIs_4s,BATTING_ODIs_6s,BATTING_ODIs_Ct,BATTING_ODIs_St,BATTING_T20Is_Mat,BATTING_T20Is_Inns,BATTING_T20Is_NO,BATTING_T20Is_Runs,BATTING_T20Is_HS,BATTING_T20Is_Ave,BATTING_T20Is_BF,BATTING_T20Is_SR,BATTING_T20Is_100,BATTING_T20Is_50,BATTING_T20Is_4s,BATTING_T20Is_6s,BATTING_T20Is_Ct,BATTING_T20Is_St,BATTING_First-class_Mat,BATTING_First-class_Inns,BATTING_First-class_NO,BATTING_First-class_Runs,BATTING_First-class_HS,BATTING_First-class_Ave,BATTING_First-class_BF,BATTING_First-class_SR,BATTING_First-class_100,BATTING_First-class_50,BATTING_First-class_4s,BATTING_First-class_6s,BATTING_First-class_Ct,BATTING_First-class_St,BATTING_List A_Mat,BATTING_List A_Inns,BATTING_List A_NO,BATTING_List A_Runs,BATTING_List A_HS,BATTING_List A_Ave,BATTING_List A_BF,BATTING_List A_SR,BATTING_List A_100,BATTING_List A_50,BATTING_List A_4s,BATTING_List A_6s,BATTING_List A_Ct,BATTING_List A_St,BATTING_T20s_Mat,BATTING_T20s_Inns,BATTING_T20s_NO,BATTING_T20s_Runs,BATTING_T20s_HS,BATTING_T20s_Ave,BATTING_T20s_BF,BATTING_T20s_SR,BATTING_T20s_100,BATTING_T20s_50,BATTING_T20s_4s,BATTING_T20s_6s,BATTING_T20s_Ct,BATTING_T20s_St,BOWLING_Tests_Mat,BOWLING_Tests_Inns,BOWLING_Tests_Balls,BOWLING_Tests_Runs,BOWLING_Tests_Wkts,BOWLING_Tests_BBI,BOWLING_Tests_BBM,BOWLING_Tests_Ave,BOWLING_Tests_Econ,BOWLING_Tests_SR,BOWLING_Tests_4w,BOWLING_Tests_5w,BOWLING_Tests_10,BOWLING_ODIs_Mat,BOWLING_ODIs_Inns,BOWLING_ODIs_Balls,BOWLING_ODIs_Runs,BOWLING_ODIs_Wkts,BOWLING_ODIs_BBI,BOWLING_ODIs_BBM,BOWLING_ODIs_Ave,BOWLING_ODIs_Econ,BOWLING_ODIs_SR,BOWLING_ODIs_4w,BOWLING_ODIs_5w,BOWLING_ODIs_10,BOWLING_T20Is_Mat,BOWLING_T20Is_Inns,BOWLING_T20Is_Balls,BOWLING_T20Is_Runs,BOWLING_T20Is_Wkts,BOWLING_T20Is_BBI,BOWLING_T20Is_BBM,BOWLING_T20Is_Ave,BOWLING_T20Is_Econ,BOWLING_T20Is_SR,BOWLING_T20Is_4w,BOWLING_T20Is_5w,BOWLING_T20Is_10,BOWLING_First-class_Mat,BOWLING_First-class_Inns,BOWLING_First-class_Balls,BOWLING_First-class_Runs,BOWLING_First-class_Wkts,BOWLING_First-class_BBI,BOWLING_First-class_BBM,BOWLING_First-class_Ave,BOWLING_First-class_Econ,BOWLING_First-class_SR,BOWLING_First-class_4w,BOWLING_First-class_5w,BOWLING_First-class_10,BOWLING_List A_Mat,BOWLING_List A_Inns,BOWLING_List A_Balls,BOWLING_List A_Runs,BOWLING_List A_Wkts,BOWLING_List A_BBI,BOWLING_List A_BBM,BOWLING_List A_Ave,BOWLING_List A_Econ,BOWLING_List A_SR,BOWLING_List A_4w,BOWLING_List A_5w,BOWLING_List A_10,BOWLING_T20s_Mat,BOWLING_T20s_Inns,BOWLING_T20s_Balls,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
0,8772,Henry Arkell,England,Henry John Denham Arkell,"\nJune 26, 1898, Edmonton, Middlesex","March 12, 1982, Oxford (aged 83 years 259 days)",NaN,Northamptonshire,NaN,NaN,NaN,NaN,Right-hand bat,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,0,11,6,5.50,NaN,NaN,0,0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,532565,Richard Nyren,England,Richard Nyren,"\nApril 25, 1734, Eartham, Sussex","April 25, 1797, Lee or Leigh, Kent (aged 63 ye...",NaN,Hampshire XI,NaN,NaN,NaN,NaN,Left-hand bat,Left-arm bowler (underarm),NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,90,11,1026,97,12.98,NaN,NaN,0,2,NaN,NaN,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,57,0+,0+,104,5/?,6/?,NaN,NaN,NaN,7,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16856,Sydney Maartensz,England,Sydney Gratien Adair Maartensz,"\nApril 14, 1882, Colombo, Ceylon","September 10, 1967, Pyrford, Woking, Surrey (a...",NaN,Hampshire,NaN,NaN,NaN,NaN,Right-hand bat,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,17,2,283,60,18.86,NaN,NaN,0,1,NaN,NaN,21.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16715,Brian Lander,England,Brian Richard Lander,"\nJanuary 9, 1942, Bishop Auckland, Co Durham",NaN,77 years 73 days,"['Durham,', 'Minor Counties']",NaN,NaN,NaN,NaN,Right-hand bat,Right-arm medium,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,21,3,122,28,6.77,NaN,NaN,0,0,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,1402,859,25,5/15,5/15,34.36,3.67,56.0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15989,Derek Kenderdine,England,Derek Charles Kenderdine,"\nOctober 28, 1897, Chislehurst, Kent","August 28, 1947, Cambridge (aged 49 years 304 ...",NaN,Royal Navy,NaN,NaN,NaN,NaN,Right-hand bat,Right-arm medium-fast,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4,1,7,6,2.33,NaN,NaN,0,0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,198,121,2,1/46,NaN,60.50,3.66,99.0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90303,19777,Keith Robinson,England,Keith Robinson,"\nDecember 17, 1933, Thirsk, Yorkshire",NaN,85 years 97 days,Combined Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,0,18,18,18.00,NaN,NaN,0,0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90304,14843,Trevitt Hine-Haycock,England,Trevitt Reginald Hine-Haycock,"\nDecember 3, 1861, Little Heath, Old Charlton...","November 2, 1953, Bedford (aged 91 years 334 d...",NaN,"['Kent,', 'Oxford University']",NaN,NaN,NaN,NaN,Right-hand bat,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,55,5,945,85,18.90,NaN,NaN,0,NaN,NaN,NaN,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,12,1,1/5,NaN,12.00,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90305,15025,John Hughes,England,John Hughes,"\nJuly 2, 1825, Hertford","January 29, 1907, Hertford (aged 81 years 211 ...",NaN,South of England,NaN,NaN,NaN,NaN,Right-hand bat,Right-arm slow (roundarm),NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,0,8,8,4.00,NaN,NaN,0,0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,189,94,9,7/46,NaN,10.44,2.98,21.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90306,11167,John Clayton,England,John Morton Clayton,"\nNovember 17, 1857, Chesterfield, Derbyshire","April 1, 1938, West Southbourne, Hampshire (ag...",NaN,Derbyshire,NaN,NaN,NaN,NaN,Right-hand bat,Right-arm fast-medium,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3,0,3,2,1.00,NaN,NaN,0,0,0,0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,16,11,0,-,-,-,4.12,-,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90307,565677,H Clewitt,England,H Clewitt,\ndate unknown,NaN,NaN,Lincolnshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN