In [58]:
url = "https://www.espncricinfo.com/ci/content/player/index.html?country=6"

In [59]:
from bs4 import BeautifulSoup as bf
import requests
import pandas as pd

In [60]:
req = requests.get(url)

In [61]:
soup = bf(req.text,"html.parser")

In [62]:
jo = soup.find_all('td')

In [63]:
#Fetch total urls of players belonging to a country
u = list()
for job_elem in jo:
    u.append(job_elem.find('a'))
    #result.append(job_elem.text)
l = set(u)
l = list(l)

In [108]:
#Get relevant information related to a player using each player's url
def load(req,lol,ind,u):
    lab = list()
    result = list()
    soup = bf(req.text,"html.parser")
    print(soup.title)
    jo = soup.find_all('h5',class_='player-card-description gray-900')
    c = 0
    for job_elem in jo:
        result.append(job_elem.text)
        c+=1
    jo = soup.find_all('p',class_="text-uppercase gray-700 mb-0 pb-0-5 player-card-heading")
    for job_elem in jo:
        lab.append(job_elem.text)
    ######################################
    rec = extra(req,u)
    lab.append("Records")
    result.append([rec])
    print(result)
    ##########################################   
    jo = soup.find('div',class_="player-card__details")
    l = list()
    for job_elem in jo:
        l.append(job_elem.text)
        c+=1
    p = l[1].split("|")
    l.pop()
    l.pop()
    l = l+p
    result = result + l
    l_label = ["Player Name" , "Nationality ", "player-type"]
    lab = lab + l_label
    ##########################
    jo = soup.body.findAll('thead')
    kl = jo[0].find_all('th')
    head = 0
    hd_el = list()
    hd_l =list()
    for job_elem in kl:
        hd_el.append(job_elem.text)
        head+=1
    print('Head count',head)
    
    jo = soup.body.findAll('tbody')
    kl = jo[0].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd_l.append(job_elem.text)
        
        t+=1
    total_label1 = list()
    for i in range(1,len(hd_el)):
        for j in range(len(hd_l)):
            total_label1.append('Batting' + hd_el[i] +" "+hd_l[j])
    lab = lab + total_label1
    ####################################
    jo = soup.body.findAll('thead')
    kl = jo[1].find_all('th')
    head = 0
    hd_el = list()
    hd_l =list()
    for job_elem in kl:
        hd_el.append(job_elem.text)
        head+=1
    print('Head count',head)
    
    jo = soup.body.findAll('tbody')
    kl = jo[1].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd_l.append(job_elem.text)
        
        t+=1
    total_label1 = list()
    for i in range(1,len(hd_el)):
        for j in range(len(hd_l)):
            total_label1.append('Bowling' + hd_el[i] +" "+hd_l[j])
    lab = lab + total_label1
    print('label--',len(lab))
    print('result--',len(result))
    o = dict()
    for i in range(len(lab)):
        o[lab[i]] = result[i]
    #print(lab)
    
    lo = dict(zip(lab,result))
    lp = pd.DataFrame(lo,index=[ind])
    lol.append(lp)
    print('count',c)

In [109]:
#Get individual player's "Records" information.
import re
def extra(req,l):
    soup = bf(req.text,"html.parser")
    print(req.url)
    #print(soup.title)
    jo = soup.find_all('a',class_='more_content-footer')
    for i in range(len(jo)):
        p = jo[i]['href']
        if('t20-records' in p):
            #print(l + p)
            u = l+p
            re = requests.get(u)
            so = bf(re.text,"html.parser")
            res1 = so.find_all('div',class_='col-14 d-flex flex-row')
            res = so.find_all('div',class_='row bg-gray-100 class-record-row-p d-flex align-items-center')
            #print(res1)
            url_list = list()
            for i in range(len(res1)):
                
                pre = res1[i].find_all('h1')
                loi = res1[i].find_all('p',class_='record-class-title m-0')
                #print(loi)    
                for j in range(len(pre)):
                    #print(pre[j].text)
                    #print(loi[j].text)
                    url_list.append(str(pre[j].text)  +str(" ") + str(loi[j].text))
            return url_list

In [73]:
#extra code
            """
            for i in range(len(res)):
                la = res[i].find_all('span')
                #print(la)
                for j in range(len(la)):
                    oi = la[j].text
                    print(oi,end=" ")
                print()
            """
            #print(la)
    print("-------------------------------------------")
    #print(l + jo['href'])

IndentationError: ignored

In [111]:
lol = list()
for i in range(1,10):
    u = "https://www.espncricinfo.com"
    rl = l[i]["href"]
    link = u+rl
    #print(link)
    req = requests.get(link)
    print('player-',i,end=" ")
    ind = i-1
    load(req,lol,ind,u)
    #jk = extra(req,u)
    #print(jk)

player- 1 <title>Navdeep Saini profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/navdeep-saini-700167
['Navdeep Amarjeet Saini', 'November 23, 1992, Karnal, Haryana', '28y 182d', 'Right hand bat', 'Right arm fast', 'Bowler', [None]]
Head count 14
Head count 15
label-- 172
result-- 172
count 171
player- 2 <title>Ravichandran Ashwin profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/ravichandran-ashwin-26421
['Ravichandran Ashwin', 'September 17, 1986, Madras (now Chennai), Tamil Nadu', '34y 249d', 'Right hand bat', 'Right arm offbreak', 'Bowling allrounder', [['3rd Most player-of-the-series awards (8)', '6th Most ten-wickets-in-a-match in a career (7)', '1st Fastest to 350 wickets (66)', ' A hundred and five wickets in an innings ', '9th Most runs in an innings (by batting position) (31*)', '9th Outstanding bowling analyses in an innings (4/8)', '3rd Bowler/fielder combinations (10)', '10th Most five-wickets-in-an-innings in a career (30)']]]
Head count 14
Head count 15
label-- 172
result-- 172
count 171
player- 3 <title>Shreyas Iyer profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/shreyas-iyer-642519
['Shreyas Santosh Iyer', 'December 06, 1994, Mumbai', '26y 169d', 'Right hand bat', 'Legbreak googly', 'Top order batter', [None]]
Head count 15
Head count 14
label-- 145
result-- 145
count 144
player- 4 <title>Murali Vijay profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/murali-vijay-237095
['Murali Vijay', 'April 01, 1984, Chennai', '37y 53d', 'Right hand bat', 'Right arm offbreak', 'Opening batter', [['9th Worst career bowling average (without qualification) (198.00)', '6th Highest partnership for the second wicket (370)']]]
Head count 15
Head count 14
label-- 172
result-- 172
count 171
player- 5 <title>Khaleel Ahmed profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/khaleel-ahmed-942645
['Khaleel Khursheed Ahmed', 'December 05, 1997, Tonk, Rajasthan', '23y 170d', 'Right hand bat', 'Left arm medium', 'Bowler', [None]]
Head count 14
Head count 15
label-- 145
result-- 145
count 144
player- 6 <title>Mohammed Siraj profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/mohammed-siraj-940973
['Mohammed Siraj', 'March 13, 1994, Hyderabad', '27y 72d', 'Right hand bat', 'Right arm medium fast', 'Bowler', [None]]
Head count 14
Head count 15
label-- 172
result-- 172
count 171
player- 7 <title>Prithvi Shaw profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/prithvi-shaw-1070168
['Prithvi Pankaj Shaw', 'November 09, 1999, Thane, Maharashtra', '21y 196d', 'Right hand bat', 'Right arm offbreak', 'Opening batter', [[' Hundred on debut (134)', '7th Youngest player to score a hundred (18y 329d)']]]
Head count 15
Head count 14
label-- 145
result-- 145
count 144
player- 8 <title>Ravindra Jadeja profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/ravindra-jadeja-234675
['Ravindrasinh Anirudhsinh Jadeja', 'December 06, 1988, Navagam-Khed, Saurashtra', '32y 169d', 'Left hand bat', 'Slow left arm orthodox', 'Allrounder', [[' 1000 runs and 100 wickets ', '9th Most runs in a career without a hundred (2411)', ' 1000 runs and 100 wickets ', ' 1000 runs, 50 wickets and 50 catches ', '10th Worst career strike rate (24.9)', '10th Most maidens in career (4)', '3rd Most wickets taken caught and bowled (5)', '3rd Most catches by a substitute in an innings (2)', '10th Most wickets taken stumped (35)']]]
Head count 15
Head count 14
label-- 172
result-- 172
count 171
player- 9 <title>Rishabh Pant profile and biography, stats, records, averages, photos and videos</title>
https://www.espncricinfo.com/player/rishabh-pant-931581
['Rishabh Rajendra Pant', 'October 04, 1997, Haridwar, Uttarakhand', '23y 232d', 'Left hand bat', 'Wicketkeeper', 'Wicketkeeper batter', [['1st Most dismissals in a match (11)', '1st Most catches in a match (11)', ' 300 runs and 15 wicketkeeping dismissals in a series ']]]
Head count 15
Head count 14
label-- 172
result-- 172
count 171

In [112]:
a = lol[0]
b = lol[1]

In [97]:
oi = {'Full Name': 'Prithvi Pankaj Shaw', 'Born': 'November 09, 1999, Thane, Maharashtra', 'Age': '21y 196d', 'Batting Style': 'Right hand bat', 'Bowling Style': 'Right arm offbreak', 'Playing Role': 'Opening batter', 'Records': [' Hundred on debut (134)', '7th Youngest player to score a hundred (18y 329d)']}
lp = pd.DataFrame(oi,ignore_index=False)

TypeError: ignored

In [100]:
io = { 'Records': [[' Hundred on debut (134)', '7th Youngest player to score a hundred (18y 329d)']]}
pd.DataFrame(io , index=[0])

                                             Records
0  [ Hundred on debut (134), 7th Youngest player ...

In [104]:
p = [1,2]

In [107]:
[None]

[None]

In [113]:
df = a.T
for i in range(1,len(lol)):
    lo = lol[i].T
    df = pd.concat([df,lo],axis=1)

In [ ]:
df5 = pd.concat([o,r,c],axis=1)

In [118]:
df.T

,Full Name,Born,Age,Batting Style,Bowling Style,Playing Role,Records,Player Name,Nationality,player-type,BattingMat Test,BattingMat ODI,BattingMat T20I,BattingMat FC,BattingMat List A,BattingMat T20,BattingInns Test,BattingInns ODI,BattingInns T20I,BattingInns FC,BattingInns List A,BattingInns T20,BattingBalls Test,BattingBalls ODI,BattingBalls T20I,BattingBalls FC,BattingBalls List A,BattingBalls T20,BattingRuns Test,BattingRuns ODI,BattingRuns T20I,BattingRuns FC,BattingRuns List A,BattingRuns T20,BattingWkts Test,BattingWkts ODI,BattingWkts T20I,BattingWkts FC,BattingWkts List A,BattingWkts T20,BattingBBI Test,BattingBBI ODI,BattingBBI T20I,BattingBBI FC,BattingBBI List A,BattingBBI T20,BattingBBM Test,BattingBBM ODI,BattingBBM T20I,BattingBBM FC,BattingBBM List A,BattingBBM T20,BattingAve Test,BattingAve ODI,BattingAve T20I,BattingAve FC,BattingAve List A,BattingAve T20,BattingEcon Test,BattingEcon ODI,BattingEcon T20I,BattingEcon FC,BattingEcon List A,BattingEcon T20,BattingSR Test,BattingSR ODI,BattingSR T20I,BattingSR FC,BattingSR List A,BattingSR T20,Batting4w Test,Batting4w ODI,Batting4w T20I,Batting4w FC,Batting4w List A,Batting4w T20,Batting5w Test,Batting5w ODI,Batting5w T20I,Batting5w FC,Batting5w List A,Batting5w T20,Batting10w Test,Batting10w ODI,Batting10w T20I,Batting10w FC,Batting10w List A,Batting10w T20,BowlingMat Test,BowlingMat ODI,BowlingMat T20I,BowlingMat FC,BowlingMat List A,BowlingMat T20,BowlingInns Test,BowlingInns ODI,BowlingInns T20I,BowlingInns FC,BowlingInns List A,BowlingInns T20,BowlingNO Test,BowlingNO ODI,BowlingNO T20I,BowlingNO FC,BowlingNO List A,BowlingNO T20,BowlingRuns Test,BowlingRuns ODI,BowlingRuns T20I,BowlingRuns FC,BowlingRuns List A,BowlingRuns T20,BowlingHS Test,BowlingHS ODI,BowlingHS T20I,BowlingHS FC,BowlingHS List A,BowlingHS T20,BowlingAve Test,BowlingAve ODI,BowlingAve T20I,BowlingAve FC,BowlingAve List A,BowlingAve T20,BowlingBF Test,BowlingBF ODI,BowlingBF T20I,BowlingBF FC,BowlingBF List A,BowlingBF T20,BowlingSR Test,BowlingSR ODI,BowlingSR T20I,BowlingSR FC,BowlingSR List A,BowlingSR T20,Bowling100s Test,Bowling100s ODI,Bowling100s T20I,Bowling100s FC,Bowling100s List A,Bowling100s T20,Bowling50s Test,Bowling50s ODI,Bowling50s T20I,Bowling50s FC,Bowling50s List A,Bowling50s T20,Bowling4s Test,Bowling4s ODI,Bowling4s T20I,Bowling4s FC,Bowling4s List A,Bowling4s T20,Bowling6s Test,Bowling6s ODI,Bowling6s T20I,Bowling6s FC,Bowling6s List A,Bowling6s T20,BowlingCt Test,BowlingCt ODI,BowlingCt T20I,BowlingCt FC,BowlingCt List A,BowlingCt T20,BowlingSt Test,BowlingSt ODI,BowlingSt T20I,BowlingSt FC,BowlingSt List A,BowlingSt T20,BattingNO ODI,BattingNO T20I,BattingNO FC,BattingNO List A,BattingNO T20,BattingHS ODI,BattingHS T20I,BattingHS FC,BattingHS List A,BattingHS T20,BattingBF ODI,BattingBF T20I,BattingBF FC,BattingBF List A,BattingBF T20,Batting100s ODI,Batting100s T20I,Batting100s FC,Batting100s List A,Batting100s T20,Batting50s ODI,Batting50s T20I,Batting50s FC,Batting50s List A,Batting50s T20,Batting4s ODI,Batting4s T20I,Batting4s FC,Batting4s List A,Batting4s T20,Batting6s ODI,Batting6s T20I,Batting6s FC,Batting6s List A,Batting6s T20,BattingCt ODI,BattingCt T20I,BattingCt FC,BattingCt List A,BattingCt T20,BattingSt ODI,BattingSt T20I,BattingSt FC,BattingSt List A,BattingSt T20,BowlingBalls ODI,BowlingBalls T20I,BowlingBalls FC,BowlingBalls List A,BowlingBalls T20,BowlingWkts ODI,BowlingWkts T20I,BowlingWkts FC,BowlingWkts List A,BowlingWkts T20,BowlingBBI ODI,BowlingBBI T20I,BowlingBBI FC,BowlingBBI List A,BowlingBBI T20,BowlingBBM ODI,BowlingBBM T20I,BowlingBBM FC,BowlingBBM List A,BowlingBBM T20,BowlingEcon ODI,BowlingEcon T20I,BowlingEcon FC,BowlingEcon List A,BowlingEcon T20,Bowling4w ODI,Bowling4w T20I,Bowling4w FC,Bowling4w List A,Bowling4w T20,Bowling5w ODI,Bowling5w T20I,Bowling5w FC,Bowling5w List A,Bowling5w T20,Bowling10w ODI,Bowling10w T20I,Bowling10w FC,Bowling10w List A,Bowling10w T20,BattingNO Test,BattingHS Test,BattingBF Test,Batting100s Test,Batting50s Test,Batting4s Test,Batting6s Test,BattingCt Test,BattingSt Test,BowlingBalls Test,BowlingWkts Test,BowlingBBI Test,BowlingBBM Test,BowlingEcon Test,Bowling4w Test,Bowling5w Test,Bowling10w Test,Fielding Position
0,Navdeep Amarjeet Saini,"November 23, 1992, Karnal, Haryana",28y 182d,Right hand bat,Right arm fast,Bowler,None,Navdeep Saini,India,Bowler,2,4,251,172,4,2/54,4/119,43.00,4.11,62.70,0,0,0,7,7,390,454,6,2/58,2/58,75.66,6.98,65.00,0,0,0,10,9,197,235,13,3/17,3/17,18.07,7.15,15.10,0,0,0,48,83,7924,3816,132,6/32,7/79,28.90,2.88,60.00,4,4,0,54,54,2783,2450,81,5/46,5/46,30.24,5.28,34.30,2,1,0,59,58,1266,1564,49,3/17,3/17,31.91,7.41,25.80,0,0,0,2,3,1,8,5,4.00,27,29.62,0,0,1,0,1,0,7,4,3,92,45,92.00,100,92.00,0,0,9,3,3,0,10,2,2,11,11*,-,10,110.00,0,0,2,0,3,0,48,49,20,269,42*,9.27,628,42.83,0,0,35,2,14,0,54,25,16,191,45,21.22,304,62.82,0,0,18,5,12,0,59,13,9,52,12*,13.00,64,81.25,0,0,5,0,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ravichandran Ashwin,"September 17, 1986, Madras (now Chennai), Tami...",34y 249d,Right hand bat,Right arm offbreak,Bowling allrounder,"[3rd Most player-of-the-series awards (8), 6th...",Ravichandran Ashwin,India,Bowling allrounder,78,146,21520,10099,409,7/59,13/140,24.69,2.81,52.60,19,30,7,111,109,6021,4937,150,4/25,4/25,32.91,4.91,40.10,1,0,0,46,46,1026,1193,52,4/8,4/8,22.94,6.97,19.70,2,0,0,133,236,35708,16528,644,7/59,13/140,25.66,2.77,55.40,27,48,11,171,169,9232,7121,230,4/25,4/25,30.96,4.62,40.10,1,0,0,252,249,5408,6259,249,4/8,4/8,25.13,6.94,21.70,4,0,0,78,109,14,2656,124,27.95,4948,53.67,5,11,304,16,27,0,111,61,19,675,65,16.07,776,86.98,0,1,59,6,30,0,46,11,7,123,31*,30.75,115,106.95,0,0,14,1,8,0,133,184,30,4568,124,29.66,8411,54.30,7,22,566,22,51,0,171,101,26,1314,79,17.52,1703,77.15,0,4,103,12,49,0,252,92,35,758,46,13.29,658,115.19,0,0,72,18,58,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shreyas Santosh Iyer,"December 06, 1994, Mumbai",26y 169d,Right hand bat,Legbreak googly,Top order batter,None,Shreyas Iyer,India,Top order batter,NaN,22,20,1,813,103,NaN,42.78,810,100.37,1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,7,550,67,28.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,8,0,54,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.54,12,23,539,108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,2,12,15,0,NaN,-,-,-,7.50,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141.20,0,0,0,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/2,47.40,6.02,47.20,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,17,8,0,29,411,133.81,0,3,44,4,4592,202*,52.18,5631,37,0,104,99,10,3976,148,44.67,4122,96.45,8,25,356,107,46,0,149,146,22,3975,147,32.05,3050,130.32,2,25,331,166,58,0,0,0,0,29,-,-,-,-,-,-,-,54,24,565,401,4,2/29,2/29,100.25,4.25,19,236,237,5,1/2,0,0,149,3,41,72,1,1/28,1/28,72.00,10.53,41.00,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Murali Vijay,"April 01, 1984, Chennai",37y 53d,Right hand bat,Right arm offbreak,Opening batter,[9th Worst career bowling average (without qua...,Murali Vijay,India,Opening batter,61,105,1,3982,167,38.28,8601,46.29,12,15,467,33,NaN,NaN,NaN,NaN,NaN,NaN,72,21.18,506,66.99,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,169,48,18.77,154,109.74,NaN,NaN,NaN,NaN,NaN,NaN,135,227,7,9205,266,41.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61,18,384,198,1,1/12,1/23,198.00,3.09,384.00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1/19,1/19,37.00,6.16,36.00,0,NaN,NaN,NaN,NaN,NaN,NaN,619,11,3/46,5/87,56.27,3.46,NaN,NaN,NaN,NaN,NaN,NaN,287,264,9,3/13,3/13,29.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,17,16,0,339,3,9,0,9,9,0,13,8,3,0,49.24,25,38,1124,107,0,94,93,2,3644,40.04,4530,80.44,8,19,75,42,0,169,166,4223,127,26.22,3456,122.19,23,395,148,65,0,17,2,36,37,1,0,9,1,12,9,-,-,-,4.50,-,0,0,135,45,1073,0,0,0,94,14,31.80,0,0,0,169,66,73,0,-,-,6.63,-,0,0,0,49,33,0,18694,118,155,357,5,3,0,0,0,0,97.50,5.51,8,-,NaN
4,Khaleel Khursheed Ahmed,"December 05, 1997, Tonk, Rajasthan",23y 170d,Right hand bat,Left arm medium,Bowler,None,Khaleel Ahmed,India,Bowler,NaN,11,11,480,465,15,NaN,3/13,3/13,31.00,5.81,32.00,NaN,0,0,0,14,14,NaN,312,459,13,2/27,2/27,NaN,35.30,8.82,24.00,0,0,NaN,0,6,10,1061,514,NaN,11,3/33,3/70,46.72,2.90,NaN,96.40,0,0,0,44,NaN,44,2028,1768,67,4/35,NaN,4/35,26.38,5.23,30.20,3,NaN,0,0,67,67,1495,NaN,2027,86,5/18,5/18,23.56,NaN,8.13,17.30,1,1,0,NaN,11,3,1,9,5,NaN,4.50,17,52.94,0,0,NaN,1,0,1,0,14,NaN,1,1,1,1*,-,NaN,1,100.00,0,0,0,NaN,0,3,0,6,8,NaN,5,41,18*,13.66,90,NaN,45.55,0,0,6,1,NaN,1,0,44,12,4,NaN,37,15,4.62,64,57.81,NaN,0,0,2,1,7,NaN,0,67,10,5,10,NaN,3*,2.00,27,37.03,0,NaN,0,0,0,13,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Mohammed Siraj,"March 13, 1994, Hyderabad",27y 72d,Right hand bat,Right arm medium fast,Bowler,None,Mohammed Siraj,India,Bowler,5,10,962,452,16,5/73,6/150,28.25,2.81,60.10,0,1,0,1,1,60,76,0,-,-,-,7.60,-,0,0,0,3,3,72,148,3,1/45,1/45,49.33,12.33,24.00,0,0,0,43,77,7799,4016,168,8/59,11/136,23.90,3.08,46.40,13,5,2,46,46,2142,1893,81,5/37,5/37,23.37,5.30,26.40,2,3,0,74,73,1584,2208,96,4/20,4/20,23.00,8.36,16.50,3,0,0,5,6,2,39,16*,9.75,48,81.25,0,0,4,2,3,0,1,-,-,-,-,-,-,-,-,-,-,-,0,0,3,-,-,-,-,-,-,-,-,-,-,-,1,0,43,54,8,361,46,7.84,642,56.23,0,0,45,12,9,0,46,28,12,138,36*,8.62,173,79.76,0,0,14,3,6,0,74,22,12,81,14,8.10,98,82.65,0,0,7,2,23,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Prithvi Pankaj Shaw,"November 09, 1999, Thane, Maharashtra",21y 196d,Right hand bat,Right arm offbreak,Opening batter,"[ Hundred on debut (134), 7th Youngest player ...",Prithvi Shaw,India,Opening batter,5,9,NaN,1,339,134,42.37,394,NaN,86.04,1,2,NaN,NaN,NaN,NaN,NaN,NaN,3,0,NaN,84,40,28.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,NaN,0,25,46,NaN,NaN,NaN,NaN,NaN,NaN,80.96,9,NaN,10,314,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,-,NaN,-,-,-,-,-,NaN,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-,-,NaN,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-,0,NaN,0,0,41,NaN,NaN,NaN,NaN,NaN,NaN,-,-,NaN,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,0,3,102.43,NaN,0,0,12,2263,NaN,202,51.43,2795,0,NaN,41,41,3,227*,NaN,58.18,1769,124.98,8,NaN,297,57,10,59,NaN,59,0,1508,25.55,NaN,1004,150.19,0,169,NaN,66,13,0,-,NaN,-,3,-,-,NaN,-,-,-,25,NaN,4,36,44,-,NaN,-,-,7.33,-,NaN,-,-,-,-,NaN,59,-,-,-,NaN,-,-,-,-,NaN,-,-,-,48,82,2,15,2211,8,0,99,13,-,-,-,0,-,-,-,-,NaN
7,Ravindrasinh Anirudhsinh Jadeja,"December 06, 1988, Navagam-Khed, Saurashtra",32y 169d,Left hand bat,Slow left arm orthodox,Allrounder,"[ 1000 runs and 100 wickets , 9th Most runs in...",Ravindra Jadeja,India,Allrounder,51,73,19,1954,100*,36.18,3127,62.48,1,15,187,50,NaN,NaN,NaN,NaN,NaN,NaN,87,32.58,2769,87.07,0,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,217,44*,15.50,193,112.43,NaN,NaN,NaN,NaN,NaN,NaN,104,151,27,5884,331,47.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,97,13137,5351,220,7/48,10/154,24.32,2.44,59.70,9,9,NaN,NaN,NaN,NaN,NaN,NaN,5/36,5/36,37.36,4.92,45.50,7,NaN,NaN,NaN,NaN,NaN,NaN,10341,430,7/31,13/126,24.04,2.47,NaN,NaN,NaN,NaN,NaN,NaN,10932,8715,249,5/36,5/36,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,168,113,39,2411,49,60,0,50,24,0,12,6,21,0,60.68,10,30,615,107,0,221,157,51,3460,32.64,3927,88.10,2,18,76,82,0,259,182,2717,62*,24.70,2119,128.22,2,197,98,101,0,168,164,8557,7024,188,0,50,49,973,1152,3/48,3/48,29.53,7.10,24.90,0,0,104,187,25105,19,27,7,221,212,43.90,10,1,0,259,4120,5234,170,5/16,5/16,7.62,24.20,3,1,0,38,178,0,9696,89,134,254,72,0,1,1,39,0,58.30,4.78,229,30.78,NaN
8,Rishabh Rajendra Pant,"October 04, 1997, Haridwar, Uttarakhand",23y 232d,Left hand bat,NaN,Wicketkeeper batter,"[1st Most dismissals in a match (11), 1st Most...",Rishabh Pant,India,Wicketkeeper batter,20,33,3,1358,159*,45.26,1900,71.47,3,6,145,33,NaN,NaN,NaN,NaN,NaN,NaN,78,33.06,463,114.25,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,512,65*,21.33,416,123.07,NaN,NaN,NaN,NaN,NaN,NaN,44,69,6,3210,308,50.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,9,1,1/9,1/9,9.00,4.50,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,18,16,0,529,21,9,1,33,29,2,39,21,9,5,84.14,8,14,339,114,14,54,50,4,1447,31.45,1356,106.71,1,9,53,52,11,124,120,3333,128*,32.67,2253,147.93,20,300,158,75,20,18,-,-,-,-,-,33,-,-,-,-,-,-,-,-,-,-,44,1,12,0,0,0,54,-,-,-,-,-,124,-,-,-,-,-,-,-,-,-,-,75,48,0,3815,145,135,141,18,2,-,-,-,-,12.00,-,-,-,Wicketkeeper

In [ ]:
c =lol[2].T

In [116]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
    ################################################3
    jo = soup.body.findAll('thead')
    kl = jo[0].find_all('th')
    head = 0
    hd_el = list()
    hd_l =list()
    for job_elem in kl:
        hd_el.append(job_elem.text)
        head+=1
    print('Head count',head)
    
    jo = soup.body.findAll('tbody')
    kl = jo[0].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd_l.append(job_elem.text)
        
        t+=1
    total_label1 = list()
    for i in range(len(hd_el)):
        for j in range(len(hd_l)):
            total_label1.append(hd_el[i] +" "+hd_l[j])
    ####################################################
    jo = soup.body.findAll('thead')
    kl = jo[1].find_all('th')
    head1 = 0
    hd_el1 = list()
    hd1_l = list()
    for job_elem in kl:
        hd_el1.append(job_elem.text)
        head1+=1
    print('Head1 count',head1)
    
    kl = jo[1].find_all('td')
    t = 0
    for job_elem in kl:
        if(t%head1 !=0):
            result.append(job_elem.text)
            c+=1
        else:
            hd1_l.append(job_elem.text)
        
        t+=1
    total_label2 = list()
    for i in range(len(hd_el1)):
        for j in range(len(hd1_l)):
            total_label2.append(hd_el1[i] +" "+hd1_l[j])
    lab = lab + total_label1 + total_label2
    print(len(lab),end="---")
    print(len(result))
    print('count',c)

IndexError: list index out of range

In [ ]:
for i in range(len(l)):
    u = "https://www.espncricinfo.com"
    rl = l[i]["href"]
    link = u+rl
    #print(link)
    req = requests.get(link)
    print('player-',i,end=" ")
    load(req)

player- 0 count 184
player- 1 count 184
player- 2 count 183
player- 3 count 156
player- 4 count 184
player- 5 count 125
player- 6 count 126
player- 7 count 183
player- 8 count 155
player- 9 count 184
player- 10 count 125
player- 11 count 182
player- 12 count 155
player- 13 count 153
player- 14 count 125
player- 15 count 126
player- 16 count 183
player- 17 count 184
player- 18 count 156
player- 19 count 125
player- 20 count 183
player- 21 count 126
player- 22 count 183
player- 23 count 184
player- 24 count 183
player- 25 count 154
player- 26 count 185
player- 27 count 184
player- 28 count 125
player- 29 count 183
player- 30 count 184
player- 31 count 183
player- 32 count 183
player- 33 count 184
player- 34 count 183
player- 35 count 185
player- 36 count 125
player- 37 count 154
player- 38 count 183
player- 39 count 184
player- 40 count 184
player- 41 count 184

In [ ]:
l[0]

In [ ]:
ls

cricket_data.csv      full_dataset.ipynb  new.ipynb           Untitled1.ipynb
cricket_data.csv.zip  l.py                player_dataset.csv  Untitled.ipynb

In [ ]:
p = pd.read_csv('cricket_data.csv')

/home/hrudai/anaconda3/envs/indic/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (9,16,20,21,22,24,25,26,27,28,29,30,31,32,45,46,59,60,73,74,87,88,90,91,92,95,96,97,98,99,100,101,102) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
p

,ID,NAME,COUNTRY,Full name,Born,Died,Current age,Major teams,Education,Height,Nickname,Playing role,Batting style,Bowling style,Other,Relation,In a nutshell,DESCRIPTION,AWARDS,BATTING_Tests_Mat,BATTING_Tests_Inns,BATTING_Tests_NO,BATTING_Tests_Runs,BATTING_Tests_HS,BATTING_Tests_Ave,BATTING_Tests_BF,BATTING_Tests_SR,BATTING_Tests_100,BATTING_Tests_50,BATTING_Tests_4s,BATTING_Tests_6s,BATTING_Tests_Ct,BATTING_Tests_St,BATTING_ODIs_Mat,BATTING_ODIs_Inns,BATTING_ODIs_NO,BATTING_ODIs_Runs,BATTING_ODIs_HS,BATTING_ODIs_Ave,BATTING_ODIs_BF,BATTING_ODIs_SR,BATTING_ODIs_100,BATTING_ODIs_50,BATTING_ODIs_4s,BATTING_ODIs_6s,BATTING_ODIs_Ct,BATTING_ODIs_St,BATTING_T20Is_Mat,BATTING_T20Is_Inns,BATTING_T20Is_NO,BATTING_T20Is_Runs,BATTING_T20Is_HS,BATTING_T20Is_Ave,BATTING_T20Is_BF,BATTING_T20Is_SR,BATTING_T20Is_100,BATTING_T20Is_50,BATTING_T20Is_4s,BATTING_T20Is_6s,BATTING_T20Is_Ct,BATTING_T20Is_St,BATTING_First-class_Mat,BATTING_First-class_Inns,BATTING_First-class_NO,BATTING_First-class_Runs,BATTING_First-class_HS,BATTING_First-class_Ave,BATTING_First-class_BF,BATTING_First-class_SR,BATTING_First-class_100,BATTING_First-class_50,BATTING_First-class_4s,BATTING_First-class_6s,BATTING_First-class_Ct,BATTING_First-class_St,BATTING_List A_Mat,BATTING_List A_Inns,BATTING_List A_NO,BATTING_List A_Runs,BATTING_List A_HS,BATTING_List A_Ave,BATTING_List A_BF,BATTING_List A_SR,BATTING_List A_100,BATTING_List A_50,BATTING_List A_4s,BATTING_List A_6s,BATTING_List A_Ct,BATTING_List A_St,BATTING_T20s_Mat,BATTING_T20s_Inns,BATTING_T20s_NO,BATTING_T20s_Runs,BATTING_T20s_HS,BATTING_T20s_Ave,BATTING_T20s_BF,BATTING_T20s_SR,BATTING_T20s_100,BATTING_T20s_50,BATTING_T20s_4s,BATTING_T20s_6s,BATTING_T20s_Ct,BATTING_T20s_St,BOWLING_Tests_Mat,BOWLING_Tests_Inns,BOWLING_Tests_Balls,BOWLING_Tests_Runs,BOWLING_Tests_Wkts,BOWLING_Tests_BBI,BOWLING_Tests_BBM,BOWLING_Tests_Ave,BOWLING_Tests_Econ,BOWLING_Tests_SR,BOWLING_Tests_4w,BOWLING_Tests_5w,BOWLING_Tests_10,BOWLING_ODIs_Mat,BOWLING_ODIs_Inns,BOWLING_ODIs_Balls,BOWLING_ODIs_Runs,BOWLING_ODIs_Wkts,BOWLING_ODIs_BBI,BOWLING_ODIs_BBM,BOWLING_ODIs_Ave,BOWLING_ODIs_Econ,BOWLING_ODIs_SR,BOWLING_ODIs_4w,BOWLING_ODIs_5w,BOWLING_ODIs_10,BOWLING_T20Is_Mat,BOWLING_T20Is_Inns,BOWLING_T20Is_Balls,BOWLING_T20Is_Runs,BOWLING_T20Is_Wkts,BOWLING_T20Is_BBI,BOWLING_T20Is_BBM,BOWLING_T20Is_Ave,BOWLING_T20Is_Econ,BOWLING_T20Is_SR,BOWLING_T20Is_4w,BOWLING_T20Is_5w,BOWLING_T20Is_10,BOWLING_First-class_Mat,BOWLING_First-class_Inns,BOWLING_First-class_Balls,BOWLING_First-class_Runs,BOWLING_First-class_Wkts,BOWLING_First-class_BBI,BOWLING_First-class_BBM,BOWLING_First-class_Ave,BOWLING_First-class_Econ,BOWLING_First-class_SR,BOWLING_First-class_4w,BOWLING_First-class_5w,BOWLING_First-class_10,BOWLING_List A_Mat,BOWLING_List A_Inns,BOWLING_List A_Balls,BOWLING_List A_Runs,BOWLING_List A_Wkts,BOWLING_List A_BBI,BOWLING_List A_BBM,BOWLING_List A_Ave,BOWLING_List A_Econ,BOWLING_List A_SR,BOWLING_List A_4w,BOWLING_List A_5w,BOWLING_List A_10,BOWLING_T20s_Mat,BOWLING_T20s_Inns,BOWLING_T20s_Balls,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
0,8772,Henry Arkell,England,Henry John Denham Arkell,"\nJune 26, 1898, Edmonton, Middlesex","March 12, 1982, Oxford (aged 83 years 259 days)",NaN,Northamptonshire,NaN,NaN,NaN,NaN,Right-hand bat,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,0,11,6,5.50,NaN,NaN,0,0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,532565,Richard Nyren,England,Richard Nyren,"\nApril 25, 1734, Eartham, Sussex","April 25, 1797, Lee or Leigh, Kent (aged 63 ye...",NaN,Hampshire XI,NaN,NaN,NaN,NaN,Left-hand bat,Left-arm bowler (underarm),NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,90,11,1026,97,12.98,NaN,NaN,0,2,NaN,NaN,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,57,0+,0+,104,5/?,6/?,NaN,NaN,NaN,7,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16856,Sydney Maartensz,England,Sydney Gratien Adair Maartensz,"\nApril 14, 1882, Colombo, Ceylon","September 10, 1967, Pyrford, Woking, Surrey (a...",NaN,Hampshire,NaN,NaN,NaN,NaN,Right-hand bat,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,17,2,283,60,18.86,NaN,NaN,0,1,NaN,NaN,21.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16715,Brian Lander,England,Brian Richard Lander,"\nJanuary 9, 1942, Bishop Auckland, Co Durham",NaN,77 years 73 days,"['Durham,', 'Minor Counties']",NaN,NaN,NaN,NaN,Right-hand bat,Right-arm medium,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,21,3,122,28,6.77,NaN,NaN,0,0,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,1402,859,25,5/15,5/15,34.36,3.67,56.0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15989,Derek Kenderdine,England,Derek Charles Kenderdine,"\nOctober 28, 1897, Chislehurst, Kent","August 28, 1947, Cambridge (aged 49 years 304 ...",NaN,Royal Navy,NaN,NaN,NaN,NaN,Right-hand bat,Right-arm medium-fast,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4,1,7,6,2.33,NaN,NaN,0,0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,198,121,2,1/46,NaN,60.50,3.66,99.0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90303,19777,Keith Robinson,England,Keith Robinson,"\nDecember 17, 1933, Thirsk, Yorkshire",NaN,85 years 97 days,Combined Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,0,18,18,18.00,NaN,NaN,0,0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,-,-,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90304,14843,Trevitt Hine-Haycock,England,Trevitt Reginald Hine-Haycock,"\nDecember 3, 1861, Little Heath, Old Charlton...","November 2, 1953, Bedford (aged 91 years 334 d...",NaN,"['Kent,', 'Oxford University']",NaN,NaN,NaN,NaN,Right-hand bat,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,55,5,945,85,18.90,NaN,NaN,0,NaN,NaN,NaN,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,12,1,1/5,NaN,12.00,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90305,15025,John Hughes,England,John Hughes,"\nJuly 2, 1825, Hertford","January 29, 1907, Hertford (aged 81 years 211 ...",NaN,South of England,NaN,NaN,NaN,NaN,Right-hand bat,Right-arm slow (roundarm),NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,0,8,8,4.00,NaN,NaN,0,0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,189,94,9,7/46,NaN,10.44,2.98,21.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90306,11167,John Clayton,England,John Morton Clayton,"\nNovember 17, 1857, Chesterfield, Derbyshire","April 1, 1938, West Southbourne, Hampshire (ag...",NaN,Derbyshire,NaN,NaN,NaN,NaN,Right-hand bat,Right-arm fast-medium,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3,0,3,2,1.00,NaN,NaN,0,0,0,0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,16,11,0,-,-,-,4.12,-,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90307,565677,H Clewitt,England,H Clewitt,\ndate unknown,NaN,NaN,Lincolnshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN